<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title th:text="${task.id} == null ? 'Add Task' : 'Edit Task'">Task</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>


<h2 th:text="${task.id} == null ? 'Add Task' : 'Edit Task'"></h2>

<div class="user-info" th:if="${username != null}">
  Logged as: <strong th:text="${username}">user</strong>
</div>

<div class="back-link-wrapper">
  <a href="/tasks" class="btn btn-secondary">Return to list</a>
</div>

  <div class="form-container">
    <form th:action="${task.id} == null
        ? @{/tasks}
        : @{/tasks/edit/{id}(id=${task.id})}"
          method="post"
          th:object="${task}">

      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{projectId}">
      <input type="hidden" th:field="*{userId}">

      <label>Title:</label>
      <input type="text" th:field="*{title}" required>

      <label>Description:</label>
      <textarea th:field="*{description}"></textarea>

      <label>Status:</label>
      <select th:field="*{status}">
        <option value="TODO">TODO</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
      </select>

      <label>Deadline:</label>
      <input type="datetime-local" th:field="*{deadline}">

      <button type="submit">Save</button>
    </form>
  </div>


</body>
</html>